# The massive amount of whatever.
*.grh
*.grc
*.gh
*.gc
*.gsp


*.lnk
*.nlm
*.386
*.ext
*.err
*.gas
*.log
*.gmk
*.mad
*.dip
*.pch


*.res
*.exe
*.sym
*.obj
*.lib
*.map
*.int
*.out
*.tmp
*.dll
*.lnd
*.lbc
*.trp
*.d32
*.uni
*.re
*.bin
*.o
*.wsc
*.DS_Store
*.swp
*.ilb
*.owc
*.gdf
*.exp


# paths
rel/
binbuild/
*dSYM/
ddk/
xobjs/

